@model ProductDto

@{
    ViewData["Title"] = "Create";
}

@section css{
    <link rel="stylesheet" href="~/css/NewProduct.css" asp-append-version="true">
}

<section class=" new-product">
    <div class=" new-product-title">
        <h4>ELAN YERLƏŞDİRMƏK</h4>
    </div>
    <div class="new-prouduct-not">
        <ul>
            <li>Üç ay ərzində bir nəqliyyat vasitəsi yalnız bir dəfə pulsuz dərc oluna bilər.</li>
            <li>Üç ay ərzində təkrar və ya oxşar elanlar (marka/model, rəng) ödənişlidir.</li>
            <li>Elanınızı saytın ön sıralarında görmək üçün "İrəli çək" xidmətindən istifadə edin.</li>
        </ul>
    </div>
    <div class="product-form">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Marka" aria-hidden="true">Marka</label>
                <select id="marka" asp-for="MarkaCategoryId" asp-items="@(new SelectList(Model.MarkaCategoryDtos, nameof(MarkaCategoryDto.Id), nameof(MarkaCategoryDto.Name)))">
                    <option selected disabled>Secin</option>
                </select>
            </div>

            <div class="form-group">
                <label for="yanacaq-novu">Yanacaq növü</label>
                <select id="yanacaq-novu" asp-for="FuelTypeCategoryId" asp-items="@(new SelectList(Model.FuelTypeCategoryDtos, nameof(FuelTypeCategoryDto.Id), nameof(FuelTypeCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="form-group">
                <label for="model ">Model </label>
                <select id="model" asp-for="ModelCategoryId" asp-items="@(new SelectList(Model.ModelCategoryDtos, nameof(ModelCategoryDto.Id), nameof(ModelCategoryDto.Name)))">
                    <option selected disabled>Secin</option>
                </select>
            </div>

            <div class="form-group">
                <label for="oturucu">Ötürücü </label>
                <select id="oturucu" asp-for="GearCategoryId" asp-items="@(new SelectList(Model.GearCategoryDtos, nameof(GearCategoryDto.Id), nameof(GearCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="form-group">
                <label for="ban">Ban növü</label>
                <select id="ban" asp-for="BanTypeCategoryId" asp-items="@(new SelectList(Model.BanTypeCategoryDtos, nameof(BanTypeCategoryDto.Id), nameof(BanTypeCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="form-group">
                <label for="suretler-qutusu">Sürətlər qutusu </label>
                <select id="suretler-qutusu" asp-for="GearBoxCategoryId" asp-items="@(new SelectList(Model.GearBoxCategoryDtos, nameof(GearBoxCategoryDto.Id), nameof(GearBoxCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="form-group-checbox">
                <label for="Yürüş" id="star">Yürüş </label>

                <label>
                    <input asp-for="IsMarch" type="radio" value="true"> Km
                </label>

                <label>
                    <input asp-for="IsMarch" type="radio" value="false"> Mi
                </label>

                <input asp-for="March" type="number" name="March" id="Yürüş">
            </div>


            <div class="form-group">
                <label for="il">İl </label>
                <select id="il" asp-for="YearCategoryId" asp-items="@(new SelectList(Model.YearCategoryDtos, nameof(YearCategoryDto.Id), nameof(YearCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="form-group">
                <label for="Rəng ">Rəng </label>
                <select id="Rəng " asp-for="ColorCategoryId" asp-items="@(new SelectList(Model.ColorCategoryDtos, nameof(ColorCategoryDto.Id), nameof(ColorCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="form-group">
                <label for="Mühərrik">Mühərrikin həcmi, sm3 </label>
                <select id="Mühərrik" asp-for="EngineCapacityCategoryId" asp-items="@(new SelectList(Model.EngineCapacityCategoryDtos, nameof(EngineCapacityCategoryDto.Id), nameof(EngineCapacityCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="form-group-checbox">
                <label for="Qiymət" id="star">Qiymət</label>

                @foreach (Currency currency in Enum.GetValues(typeof(Currency)))
                {
                    <label>
                        <input type="radio" asp-for="Valyuta" value="@currency"> @currency
                    </label>
                }

                <input asp-for="Price" type="number" name="Price" id="Qiymət">
            </div>

            <div class="form-group ">
                <label asp-for="EnginePower" for="Mühərrik">Mühərrikin gücü, a.g.</label>
                <input asp-for="EnginePower" type="number" id="engine-power">
            </div>

            <div class="form-group">
                <label for="necenci-sahibisiniz">Neçənci sahibisiniz?</label>
                <select id="necenci-sahibisiniz" asp-for="HowManyOwnerCategoryId" asp-items="@(new SelectList(Model.HowManyOwnerCategoryDtos, nameof(HowManyOwnerCategoryDto.Id), nameof(HowManyOwnerCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="form-group">
                <label for="bazar">Hansı bazar üçün yığılıb</label>
                <select id="bazar" asp-for="MarketAssembledCategoryId" asp-items="@(new SelectList(Model.MarketAssembledCategoryDtos, nameof(MarketAssembledCategoryDto.Id), nameof(MarketAssembledCategoryDto.Name)))">
                    <option selected disabled></option>
                </select>
            </div>

            <div class="product-form-checbox">
                <label for="Vəziyyəti">Vəziyyəti</label>

                <div class="form-group-situation">
                    <div class="checkbox-item">
                        <input type="checkbox" name="IsHis" asp-for="IsHis">
                        <div class="label-container">
                            <label for="check1">Vuruğu var</label>
                            <span>Bir və ya bir neçə detalı dəyişdirilib və ya təmir olunub.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group-situation">
                    <div class="checkbox-item">
                        <input type="checkbox" name="IsColor" asp-for="IsColor">
                        <div class="label-container">
                            <label for="check2">Rənglənib</label>
                            <span>Bir və ya bir neçə detalı rənglənib və ya kosmetik işlər görülüb.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group-situation">
                    <div class="checkbox-item">
                        <input type="checkbox" name="IsAccident" asp-for="IsAccident">
                        <div class="label-container">
                            <label for="check3">Qəzalı və ya ehtiyat hissələr üçün</label>
                            <span>Təmirə ehtiyacı var və ya ümumiyyətlə yararsız vəziyyətdədir.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-checbox-inline">
                <div class="checbox-inline">
                    <label>Yerlərin sayı</label>
                    @for (int i = 0; i < Model.NumberOfSeatsCategoryDtos.Count; i++)
                    {
                        <label class="container">
                            <input type="radio" name="NumberOfSeatsCategoryId" value="@Model.NumberOfSeatsCategoryDtos[i].Id">
                            <span class="checkmark"></span>
                            @Html.DisplayFor(modelItem => Model.NumberOfSeatsCategoryDtos[i].Name)
                        </label>
                    }
                </div>
            </div>
            <div class="kredit-checbox">
                <label class="container">
                    <input asp-for="IsCredit" type="checkbox">
                    <span class="checkmark"></span>
                </label>Kreditdədir
            </div>
            <div class="barter-checbox">
                <label class="container">
                    <input asp-for="IsBarter" type="checkbox">
                    <span class="checkmark"></span>
                </label>Barter mümkündür
            </div>

            <div class="vin-kod">
                <div class=" vin-group">
                    <label asp-for="VINCod" for="vin-kod">VIN-kod</label>
                    <input asp-for="VINCod" type="text" name="VINCod" id="vin-kod">
                    <a href="#">VIN-kodu haradan tapmaq olar?</a>
                </div>
            </div>
            <div class="additional-info">
                <div class="additional">
                    <label asp-for="Description" for="info">Əlavə məlumat</label>
                    <textarea asp-for="Description" name="Description" id="info" cols="130" rows="8"></textarea>
                </div>
                <span>telefon nömrələri qeyd etmək qadağandır</span>
            </div>
@*             <div class="vehicle-supply">
                <h3>Avtomobilin təchizatı</h3>
                <div class="supply">
                    @for (int i = 0; i < Model.VehicleSupplyCategoryDtos.Count; i++)
                    {
                        <label class="supply-container">
                            <input type="checkbox"  name="VehicleSupplyCategoryId" value="@Model.VehicleSupplyCategoryDtos[i].Id" />
                            <span class="checkmark"></span>
                            @Html.DisplayFor(modelItem => Model.VehicleSupplyCategoryDtos[i].Name)
                        </label>
                    }
                </div>
            </div> *@

            <div class="crate-new-image">
                <h3>Şəkillər</h3>
                <div class="new-image">
                    <div class="new-description">
                        <span>- Minimum – 3 şəkil (ön, arxa və bütöv ön panelin görüntüsü mütləqdir).</span>
                        <span>- Maksimum – 21 şəkil.</span>
                        <span>- Optimal ölçü – 1024x768 piksel.</span>
                    </div>
                    <div class="image-form">
                        <label for="image-1" class="image-1" style="background: url(/img/car1.svg);"></label>
                        <input id="image-1" type="file" asp-for="Image" name="imageFiles" class="custom-file-input">
                        <label for="image-2" class="image-2" style="background: url(/img/car2.svg);"></label>
                        <input id="image-2" type="file" asp-for="Image" name="imageFiles" class="custom-file-input">
                        <label for="image-3" class="image-3" style="background: url(/img/car3.svg);"></label>
                        <input id="image-3" type="file" asp-for="Image" name="imageFiles" class="custom-file-input">
                    </div>


                    <div class="for-plus">
                        <label for="plus" class="plus-button"><span><i class="fa-solid fa-plus"></i></span></label>
                        <input id="plus" type="file" name="image">
                    </div>
                </div>
            </div>
            <div class="new-contact">
                <h3>Əlaqə</h3>
                <span>
                    Elan dərc olunduqdan sonra əlaqə məlumatları ilə bağlı heç bir dəyişiklik həyata
                    keçirilmir.
                </span>
                <div class="contact">
                    <label asp-for="Name" for="Adınız" id="star">Adınız</label>
                    <input asp-for="Name" type="text" id="Name">
                </div>
                <div class="contact">
                    <label for="City" id="star">Şəhər</label>
                    <select id="City" asp-for="CityCategoryId" asp-items="@(new SelectList(Model.CityCategoryDtos, nameof(CityCategoryDto.Id), nameof(CityCategoryDto.Name)))">
                        <option selected disabled></option>
                    </select>
                </div>
                <div class="contact">
                    <label asp-for="Email" for="Email" id="star">Email</label>
                    <input asp-for="Email" type="email" name="Email" id="Email">
                </div>
                <div class="contact">
                    <label asp-for="Phone" for="phone" id="phone">Telefon nömrəsi </label>
                    <input asp-for="Phone" type="number" id="phone-contact" placeholder="(000)000-00-00">
                </div>
                <button type="submit" value="Create" id="sbm">Davam Et</button>
                <span>
                    Elan yerləşdirərək, siz <a href="#">Turbo.az-ın İstifadəçi razılaşması</a>
                    və <a href="#">Qaydaları</a> ilə razı olduğunuzu təsdiq edirsiniz.
                </span>

            </div>
        </form>
    </div>



</section>

@section Scripts{
    <script src="~/js/NewProduct.js" asp-append-version="true"></script>
}