@model ProductDto
@{
    ViewData["Title"] = "Details";
}

@functions {

    //Valyuta Hesablama

    public (float, string) ConvertCurrency(float price, string currency) {
        // Əsas valyuta dəyərləri
        float USD = 1.70f;
        float EUR = 1.79f;
        float AZN = 1.0f;

        if (currency == "USD") {
            return (price * USD, "AZN");
        } else if (currency == "EUR") {
            return (price * EUR, "AZN");
        } else if (currency == "AZN") {
            return (price / USD, "USD");
        }
        
        return (0f, "UNKNOWN");
    }
}


@section css{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <link rel="stylesheet" href="~/css/ProductCart.css" asp-append-version="true">
}


<section class="product-container">
    <div class="tx-container">
        <ul>
            <li>@Model.MarkaName</li>
          
            <li>@Model.ModelName</li>
            <li>Elan N: @Model.AdvertisementNumber</li>
        </ul>
        <hr>
    </div>
    <div class="page-content">
        <div class="product-heading-container">
            <h1 class="product-title">
                <span>@Model.MarkaName, </span>
                <span>@Model.ModelName,</span>
                <span>@Model.EngineName L,</span>
                <span>@Model.YearName il,</span>
                <span>@Model.March km</span>
            </h1>
            <div class="product-heading-right">
                <a href="#"><i class="fa-regular fa-heart"></i>Seçilmişlərdə saxla</a>
                <a href="#"><i class="fa-regular fa-flag"></i>Şikayət et</a>
            </div>
        </div>
        <div class="product-foto">
            <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="800" data-height="300">
                @if (Model.ProductImages != null)
                {
                    foreach (var img in Model.ProductImages)
                    {
                        <img src="~/@img.ImagePath">
                    }
                }
            </div>
        </div>
        <section class="product-properties">
            <div class="header-text-content">
                <ul>
                    <li>Yeniləndi: 20.09.2023</li>
                    <li>Baxışların sayı: @Model.ViewCount</li>
                </ul>
                <hr>
            </div>
            <article class="body-text-content">
                <div class="text-content">
                    <label>Şəhər</label>
                    <span>@Model.CityName</span>
                </div>
                <div class="text-content">
                    <label>Sürətlər qutusu</label>
                    <span>@Model.GBoxnName</span>
                </div>
                <div class="text-content">
                    <label>Marka</label>
                    <span>@Model.MarkaName</span>
                </div>
                <div class="text-content">
                    <label>Ötürücü</label>
                    <span>@Model.GearName</span>
                </div>
                <div class="text-content">
                    <label>Model</label>
                    <span>@Model.ModelName</span>
                </div>
                <div class="text-content">
                    <label>Yeni</label>
                    <span>Xeyr</span>
                </div>
                <div class="text-content">
                    <label>Buraxılış ili</label>
                    <span>@Model.YearName</span>
                </div>
                <div class="text-content">
                    <label>Sahiblər</label>
                    <span>@Model.HowName</span>
                </div>
                <div class="text-content">
                    <label>Ban növü</label>
                    <span>@Model.BanName</span>
                </div>
                <div class="text-content">
                    <label>Vəziyyəti</label>
                    <span>
                        @if (Model.IsHis)
                        {
                            @:Vuruğu var,
                        }
                        else
                        {
                             @:Vuruğu yoxdur,
                        }
                        @if (Model.IsColor)
                        {
                            @:Rənglənib,
                        }
                        else
                        {
                            @:Rənglənməyib,
                        }
                        @if (Model.IsAccident)
                        {
                            @:Qəzalı,
                        }
                    </span>
                </div>
                <div class="text-content">
                    <label>Rəng</label>
                    <span> @Model.ColorName</span>

                </div>
                <div class="text-content">
                    <label>Mühərrik</label>
                    <span>@Model.EngineName L/@Model.EnginePower/@Model.FuelName</span>
                </div>
                <div class="text-content">
                    <label>Hansı bazar üçün yığılıb</label>
                    <span>@Model.MarketName</span>
                </div>
                <div class="text-content">
                    <label>Yürüş</label>
                    <span>@Model.March km</span>
                </div>

            </article>
            <hr>
            <article class="product-description-content">
                <div class="description-content">
                    <p>
                        @Model.Description <br>
                    </p>
                </div>
            </article>
            <hr>
            <article class="product-footer-text">
                <div class="footer-text">
                    <ul>
                        <li>Yüngül lehimli disklər</li>
                        <li>Yağış sensoru</li>
                        <li>ABS</li>
                        <li>Lyuk</li>
                        <li>Ksenon lampalar</li>
                        <li>Yan pərdələr</li>
                        <li>Oturacaqların ventilyasiyası</li>
                        <li>Lyuk</li>
                        <li>Ksenon lampalar</li>
                        <li>Yan pərdələr</li>
                        <li>Oturacaqların ventilyasiyası</li>
                    </ul>
                </div>
            </article>
            <hr>
            <div class="footer-text-end">
                <div class="text-end-left">
                    <a id="correct">Düzəliş et</a>
                    <a id="delete-ad">Elanı sil</a>
                </div>
                <!-- Modal -->
                <div class="correcmodal" id="correctModal">
                    <div class="correct-modal-content">

                        <div class="correct-modal-header">
                            Şəxsiyyətinizi təsdiqləyin
                            <button class="correct-closeModal">X</button>
                        </div>
                        <div class="correct-modal-body">
                            <p>
                                Davam etmək üçün elanınızın PIN-şifrəsini qeyd edin. PIN-şifrəni, elan saytda
                                dərc edilərkən Turbo.Az-dan Sizə göndərilən məktubdan götürə bilərsiniz.
                            </p>
                            <label>Elanın PIN-şifrəsi:</label>
                            <form class="correct-input-section" asp-action="VerifyPIN" asp-route-id="@Model.Id" method="post">
                                  <input type="number" name="inputPIN" type="text" />
                                  <button>Təsdiq et</button>
                             </form>
                            <a href="#">PIN-şifrəni unutmusuz?</a>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="deletemodal" id="delete-the-ad">
                    <div class="delete-modal-content">

                        <div class="delete-modal-header">
                            Elanı silmək
                            <button class="delete-closeModal">X</button>
                        </div>
                        <div class="delete-modal-body">
                            <p>
                                Zəhmət olmasa, elanın silinməsini təsdiqləmək üçün PIN-şifrəni daxil edin.
                                PIN-şifrəni, elan saytda dərc olunan zaman Turbo.az-dan Sizə göndərilən məktubda
                                tapa bilərsiniz.
                            </p>
                            <label>Elanın PIN-şifrəsi:</label>
                            <form class="delete-input-section" asp-action="VerifyDeletePIN" asp-route-id="@Model.Id" method="post">
                               <input  name="inputPIN" type="text" />
                              <button>Təsdiq et</button>
                            </form>
                            <a href="#">PIN-şifrəni unutmusuz?</a>
                        </div>
                    </div>
                </div>
                <div class="text-end-right">
                    <span>Elanın nömrəsi: @Model.AdvertisementNumber</span>
                </div>
            </div>
        </section>
        <article class="product-sidebar-container">
            <div>
                <div class="product-price">
                    <div id="usd">@Model.Price @Model.Valyuta</div>
                    @{
                        float actualPrice = Model.Price.HasValue ? Model.Price.Value : 0f;
                        var converted = ConvertCurrency(actualPrice, Model.Valyuta);
                    }
                    <div>@converted.Item1 @converted.Item2</div>
                    <hr>
                </div>

                <div class="owner-logo-wrapper">
                    <div class="product-owner-info">
                        <div class="product-info-name">Ibrahim</div>
                        <div class="product-info-region">Baki</div>
                    </div>
                    <div class="product-info-logo"><i class="fa-solid fa-user"></i></div>
                </div>
                <div class="product-sidebar-button">
                    <a href="#">% Hissə-Hissə al</a>
                </div>
                <div class="product-button-phone">
                    <a href="#">
                        Nömrəni göstər <br>
                        <i class="fa-solid fa-phone"></i>
                        @Model.Phone
                    </a>
                </div>
            </div>
            <div class="forward-vip-pre">
                <a class="forward">
                    <div id="text-wrapper">
                        <div id="for">İrəli çək</div>
                        <div class="price-services">
                            <span>3</span>
                            <span>AZN-dən</span>
                        </div>
                    </div>
                    <div><i class="fa-solid fa-up-long"></i></div>
                </a>

                <form method="post" asp-controller="Products" asp-action="MakeVip" id="makeVipForm">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <a class="forward" href="javascript:void(0);" onclick="submitForm();">
                        <div id="text-wrapper">
                            <div id="for">VIP et</div>
                            <div class="price-services">
                                <span>15</span>
                                <span>AZN-dən</span>
                            </div>
                        </div>
                        <div><i class="fa-solid fa-v"></i></div>
                    </a>
                </form>

                <form method="post" asp-controller="Products" asp-action="MakePremium" id="makePremiumForm">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <a class="forward" href="javascript:void(0);" onclick="submitPremiumForm();">
                        <div id="text-wrapper">
                            <div id="for">Premium</div>
                            <div class="price-services">
                                <span>5</span>
                                <span>AZN-dən</span>
                            </div>
                        </div>
                        <div><i class="fa-solid fa-crown"></i></div>
                    </a>
                </form>
            </div>

        </article>
    </div>
</section>
<section class="product-embed-and-related">
    <div class="announcements">
        <div class="advertisements-title">
            <h3>BƏNZƏR ELANLAR</h3>
            <a>Hamısını göstər</a>
        </div>
        <div class="car_announcements">
            @await Component.InvokeAsync("ProductCardDetails", new { markaName = @Model.MarkaName, modelName = @Model.ModelName, currentProductId = @Model.Id })
        </div>
     </div>
</section>


@section Scripts{
    <script>
        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 700) {
                $('.product-sidebar-container').addClass('fixed');
            } else {
                $('.product-sidebar-container').removeClass('fixed');
            }

        });

        $(document).ready(function () {


            // Düzəliş et linkinə klik edildikdə modalı göstər
            $('#correct').on('click', function () {
                $('#correctModal').css('display', 'flex');
            });

            // Düzəliş et modalının bağlama düyməsinə klik edildikdə modalı gizlət
            $('.correct-closeModal').on('click', function () {
                $('#correctModal').css('display', 'none');
            });

            // Elanı sil linkinə klik edildikdə modalı göstər
            $('#delete-ad').on('click', function () {
                $('#delete-the-ad').css('display', 'flex');
            });

            // Elanı sil modalının bağlama düyməsinə klik edildikdə modalı gizlət
            $('.delete-closeModal').on('click', function () {
                $('#delete-the-ad').css('display', 'none');
            });

            //Düzəliş et modalındakı formu təsdiqlə
           $('#correctModal button').on('click', function(e) {
           e.preventDefault();
           $('#correctModal form').submit();
            });

            // Sil modalındakı formu təsdiqlə
            $('#delete-the-ad button').on('click', function(e) {
             e.preventDefault();
            $('#delete-the-ad form').submit();
             });
        });

        // Vip Submit
        function submitForm() {
            $("#makeVipForm").submit();
        }

        //Premium Submit
        function submitPremiumForm() {
            $("#makePremiumForm").submit();
        }


    </script>
}