@model List<Product>

@foreach (var item in Model)
{

        <a class="card" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" target="_blank">
            <i class="fa-regular fa-heart heart-icon"></i>
            <i class="fa-solid fa-v check-icon"></i>
            <div class="rotate-wrapper">
                <i class="fa-solid fa-rotate-right rotate-icon"></i>
                <div class="rotate-tooltip">barter mümkündür</div>
            </div>
            <img src="~/@item.Image" alt="car">
            <h4>@item.Price @item.Valyuta</h4>
            <p>@item.MarkaCategory?.Name @item.ModelCategory?.Name</p>
            <div class="details">
                <p>@item.YearCategory.Name</p>
                <p>@item.EngineCapacityCategory.Name L</p>
                <p>@item.March km</p>
            </div>
            <span>@item.CityCategory.Name</span>
            <span>29.08.2023</span>
            <span>14:00</span>
        </a>
 
}