@model FilterViewModel


<form asp-controller="Home" asp-action="Index" method="get">
    <div class="floor-1">
        <div class="custom-dropdown" id="firstDropdown">
            <select asp-for="MarKaId" class="filter-list dynamic-label">
                <option class="default-option" value="" >Marka</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.MarkaCategories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>



        <div class="custom-dropdown" id="secondDropdown">
            <select asp-for="ModelId" class="filter-list dynamic-label">
                <option class="default-option" value="">Model</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.Models)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="input-group">
            <label>
                <input type="radio" name="choice" value="all" data-default="all" checked>
                <span>Hamısı</span>
            </label>
            <label>
                <input type="radio" name="choice" value="new" data-default="new">
                <span>Yeni</span>
            </label>
            <label>
                <input type="radio" name="choice" value="used" data-default="used">
                <span>Sürülmüş</span>
            </label>
        </div>


        <div class="custom-dropdown">
            <select asp-for="CityId" class="filter-list dynamic-label">
                <option class="default-option" value="">Şəhər</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.CityCategories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="floor-2">
        <div class="price">
            <input type="number" asp-for="minPrice" value="minPrice" data-default="minPrice" id="minPrice" placeholder="Qiymət, min">
                   
            <input type="number" asp-for="maxPrice" value="maxPrice" data-default="maxPrice" id="maxPrice" placeholder="Maks">
        </div>

        <select class="filter-list valyuta" asp-for="Valyuta">
            <option value="">Hamısı</option>
            <option value="AZN">AZN</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
        </select>


        <div class="kredit-barter">
            <label class="credit-input" for="isKredit" style="margin-right:10px;">Credit</label>
            <input id="isKredit" type="checkbox" asp-for="IsCredit"  class="credit-input" style="display:none;">
            <label class="credit-input" for="isBarter">Barter</label>
            <input id="isBarter" type="checkbox" asp-for="IsBarter"  class="credit-input" style="display:none;">
        </div>

        <div class="custom-dropdown">
            <select asp-for="BanTypeId" class="filter-list dynamic-label">
                <option class="default-option" value="">Ban Növü</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.BanTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="custom-dropdown">
            <select asp-for="minYear" class="filter-list dynamic-label">
                <option class="default-option" value="">İl,min</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.Years)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="custom-dropdown">
            <select asp-for="maxYear" class="filter-list dynamic-label">
                <option class="default-option" value="">İl,maks.</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.Years)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="custom-dropdown">
            <select asp-for="ColorId" class="filter-list dynamic-label">
                <option class="default-option" value="">Rəng</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.Colors)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="custom-dropdown">
            <select asp-for="FuelTypeId" class="filter-list dynamic-label">
                <option class="default-option" value="">Yanacaq növü</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.FuelTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="custom-dropdown">
            <select asp-for="GearId" class="filter-list dynamic-label">
                <option class="default-option" value="">Ötürücü</option>
                <option class="zero def" value="">X Sıfırla</option>
                @foreach (var item in Model.Gears)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="extrems-form">
        <div class="floor-3">

            <div class="custom-dropdown">
                <select asp-for="GearBoxId" class="filter-list dynamic-label">
                    <option class="default-option" value="">Sürətlər qutusu</option>
                    <option class="zero def" value="">X Sıfırla</option>
                    @foreach (var item in Model.GearBoxes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="custom-dropdown">
                <select asp-for="NumberOfId" class="filter-list dynamic-label">
                    <option class="default-option" value="">Yerlərin sayı</option>
                    <option class="zero def" value="">X Sıfırla</option>
                    @foreach (var item in Model.NumberOfSeats)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="custom-dropdown">
                <select asp-for="minEngineCapacity" class="filter-list dynamic-label">
                    <option class="default-option" value="">Həcm,min </option>
                    <option class="zero def" value="">X Sıfırla</option>
                    @foreach (var item in Model.EngineCapacities)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="custom-dropdown">
                <select asp-for="maxEngineCapacity" class="filter-list dynamic-label">
                    <option class="default-option" value="">maks</option>
                    <option class="zero def" value="">X Sıfırla</option>
                    @foreach (var item in Model.EngineCapacities)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="floor-4">


            <div class=" power-maks">
                <input asp-for="minEngine" value="minPower" placeholder="Güc, min." type="number" data-default="min" id="min">
                      
                <input asp-for="maxEngine" value="minPower" placeholder="Güc, maks." type="number" data-default="maks" id="maks">
            </div>

            <div class=" march-maks">
                <input asp-for="minMarch" type="number" value="minMarch" data-default="min" id="min" placeholder="Yürüş,min.">
                       

                <input asp-for="maxMarch" type="number" value="maxMarch" data-default="maks" id="maks" placeholder="maks.">
                       
            </div>

            <div class="custom-dropdown-how-many">
                <select asp-for="HowManyOwnerId" class="filter-list dynamic-label">
                    <option class="default-option" value="">Sahiblərinin sayı</option>
                    <option class="zero def" value="">X Sıfırla</option>
                    @foreach (var item in Model.HowManyOwners)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>


            <div class="custom-dropdown-how-many">
                <select asp-for="MarkedId" class="dropdown-list filter-list dynamic-label">
                    <option class="default-option" value="">Hansı bazar üçün yığılıb</option>
                    <option class="zero def" value="">X Sıfırla</option>
                    @foreach (var item in Model.MarketAssembleds)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="floor-5">
            <div class="input-group">
                <label>
                    <input type="radio" name="secondChoice" value="all-2" data-default="all-2" checked>
                    <span>Hamısı</span>
                </label>
                <label>
                    <input type="radio" name="secondChoice" value="Avtosalonlar"
                           data-default="Avtosalonlar">
                    <span>Avtosalonlar</span>
                </label>
                <label>
                    <input type="radio" name="secondChoice" value="Personal" data-default="Personal">
                    <span>Şəxsi</span>
                </label>
            </div>


        </div>

        <div class="floor-6">
            <div class="kredit-barter">
                <label class="credit-input" for="IsHis" style="margin-right:10px;">Vuruğu yoxdur</label>
                <input type="checkbox" asp-for="IsHis" id="IsHis" class="credit-input" style="display:none;">
                <label class="credit-input" for="IsColor" style="margin-right:10px;">Rənglənməyib</label>
                <input type="checkbox" asp-for="IsColor" id="IsColor" class="credit-input" style="display:none;">
                <label class="credit-input" for="IsAccident" style="margin-right:10px;">Yalnız qəzalı avtomobillər</label>
                <input type="checkbox" asp-for="IsAccident" id="IsAccident" class="credit-input" style="display:none;">
            </div>
        </div>
        <div class="floor-7">
            <div class="main-search-title">
                <span>
                    Avtomobilin təchizatı
                    <hr>
                </span>
            </div>

            <div class="kredit-barter">
                <input type="text" value="ABS" class="credit-input" name="ABS" readonly>
                <input type="text" value="Lyuk" class="credit-input" name="Lyuk" readonly>
                <input type="text" value="Deri salon" class="credit-input" name="Deri salon" readonly>

            </div>
        </div>
    </div>

    <div class="main-search-footer">
        <div class="main-search-footer-left">
            <div class="search-count">
                Bu gün:
                <a href="#"> 1670 Yeni elan</a>
            </div>
        </div>
        <div class="main-search-footer-right">
            <div class="conut-zero">
                <span>Sıfırla</span>
            </div>
            <div class="all-filtr">
                <span class="toggle-filters">
                    Daha çox filtr
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>

            <div>
                <button type="submit">Elanları göstər</button>
            </div>
        </div>
    </div>
</form>